
/* ---------------------------media query */

@media screen and (min-width: 768px) and (max-width: 1135px) { 

    .header-nav>ul li a{
        font-size: 10px;
    }
    .header-nav .logo img{
        width: 100px;
        top:35px
    }
}


/* @media(max-width:768px) { */
@media screen and (min-width: 481px) and (max-width: 768px) { 


    .header-upper ul li a{
        font-size: 12px;
    }
    .header-upper ul li i{
        font-size: 12px;
    }

    .header-nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
        
    /* ---home page-- */

        .banner-upper{
            position: absolute;
            top:25%;
            left: 25%;
        }

        .banner-upper img{
            width: 75%;
        }


        .benefits-main{
            padding: 0 5px;
        }
        .benefits-main .benefits-box{
            width: 350px;
            margin-top:30px ;
        }

        
        .benefits-heading{
            padding: 0 80px;
        }

        .benefits-heading h1{
            font-size: 80px;
        }
        
        .benefits-heading h3{
            font-size: 30px;
        }
        
        .benefits-heading h4{
            font-size: 18px;
        }
        .benefits-heading h5{
            font-size: 15px;
        }
        

        .partner-heading{
            padding: 0 50px;
        }
        .partner-heading h3{
            font-size: 16px;
        }
        .partner-heading h1{
            font-size: 35px;
        }

        /* --------------home page end */

        .abt-com-heading{
            padding: 0 50px;
        }
        .abt-com-heading h3{
            font-size: 20px;
        }
        .abt-com-heading h1{
            font-size: 30px;
        }

        .team-heading{
            padding: 0 50px;
            margin-bottom: 30px;
        }
        .team-heading h1{
            font-size: 40px;
        }
        .team-heading h2{
            font-size: 30px;
        }

        /* --------about page end--------- */
        
        .book-banner{
            padding: 3vw 6vw;
            display: flex;
        }

        .book-left{
            width: 30%;
        }
        .book-left h2{
            font-size: 20px;
        }
        .book-left p{
            font-size: 12px;
        }
        .book-right img{
            width: 280px;
        }
        .book-list{
            width: 340px;
        }

        
    
         .apmt-content h2{
        font-size:12px;
        }
     
        .apmt-content p{
         font-size: 15px;
        }
        
        .b-dtl-head h2{
            font-size: 20px;
        }
        .det-main .det-left img{
            width: 150px;
        }
        .det-main .det-right{
            width: 200px;
        }
        .det-main{
            margin: 0 8vw;
        }
        .b-insights-main .b-insights-l img{
            width: 250px;
        }
        .b-insights-main .b-insights-r{
            width: fit-content;
        }
        

        /* ---------bookkeeping page end------- */

        /* ------catchup-b------ */
        .catchup-banner{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .catchup-left img{
            width: 300px;
        }
        .catchup-right{
            width: 50%;
        }
        .catchup-right h2{
            font-size: 30px;
        }

        .catchup-main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* ------catchup-b  end------ */
        
        .footer-upper img{
            width:150px;
        }
        
        .footer-upper{
            display: flex;
            flex-direction: column;
        }
        .footer-upper div{
            margin-left: 30px;
        }
        
        .footer-upper h3{
            margin-top: 15px;
        }
        /* -----------------------footer area end----------- */

        #claim h1{
            font-size: 25px;
        }
        .claim-text h4{
            font-size: 20px
        }
        
        .services-heading{
            /* text-align: center; */
            padding: 0 100px;
        }
        .services-heading h1{
            font-size:40px ;
        }
        .services-heading h3{
            font-size: 30px;
        }
        .sec-heading{
            font-size: 25px;
            margin-top: 20px;
        }

        .servies-list{
            width: 150px;
        }

        /* ---------services page end --------------- */


        /* -----testimonials-- */

        
        .testi-main{
             display: flex;
            justify-content: space-around;
            padding: 0 2vw;
            /* flex-wrap: wrap; */
        }
        .testi-box{
            /* width: 250px; */
            width: fit-content;
        }
        .testi-upper div{
            display: flex;
            flex-direction: column;
        }

        /* --------------- page testimonials end */

        /* ------calculator page---- */


        /* ------calculator page end---- */


        /* ----------------contact page------ */
        .conct-img img{
            width: 400px;
            }
            .contact{
                display: flex;
                flex-direction: column;
            }
            .conct-right{
                padding-bottom:5vw ;
            }



        /* ----------------contact page end------ */



        
            /* --------------------side nav on mid screen */
            .header-nav>ul{
                background: var(--blue);
                top: 0;
                right: -200px;
                height: 90vh;
                width: 200px;
                position: fixed;
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                transition: right 0.5s;
                justify-content: start;
                z-index: 6;
                
            }
            nav .fa{
                display: block;
                font-size: 25px;
                padding: 10px 10px;
                /* float: right; */
                position: absolute;
                top: 35px;
                right: 35px;
                color: var(--blue);
            }
    
            nav ul .fa{
                position:absolute;
                top: 15px;
                left: 15px;
                cursor: pointer;
                color: var(--white);
            }
            
            nav ul li{
                padding: 0 15px;
            }
            .header-nav ul li a{
                color: var(--white);
            }


            
nav ul .abt-drop{
    display: contents;
    /* position: absolute; */
    background-color: inherit;
    /* min-width: fit-content; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    box-shadow: none;
    padding: 0 0;
    /* top: 2.2rem; */
    transition: all 0.9s;
    /* list-style: none; */
    /* padding: 10px 20px; */
    /* z-index: 10; */
    
}

nav ul .abt-drop li a{
    padding: 20px 0;
    display: inline;
    font-size: 12px;
    color: gray;

}



/* .abt:hover .abt-drop{
    display: none;
} */


nav ul .abt-drop li a:hover{
display: none;
}

    
}


/* @media(max-width:320px) { */
@media screen and (min-width: 200px) and (max-width: 481px) { 

    .calendly-badge-widget { 
        right: auto !important; 
        left: 20px !important;
    } 

    .header-upper>div{
        display: inline-block;
    }
    .header-upper ul li a{
        font-size: 10px;
    }
    .header-upper ul li i{
        font-size: 8px;
    }
    
    .banner-upper{
        position: absolute;
        top:30%;
        left: 0;
        padding: 0 10px;
        /* display: none; */
    }

    .banner-upper img{
        width: 100%;
    }

    
    .benefits-heading{
        padding: 0 45px;
    }

    .benefits-heading h1{
        font-size: 30px;
    }
    
    .benefits-heading h3{
        font-size: 20px;
    }
    
    .benefits-heading h4{
        font-size: 15px;
    }
    .benefits-heading h5{
        font-size: 12px;
    }
    .benefits-main{
        padding: 0 10px;
    
    }

    .benefits-box{
        width: 90%;
        padding: 0 10px;
    }

    
    .partner-heading{
        padding: 0 30px;
    }
    .partner-heading h3{
        font-size: 16px;
    }
    .partner-heading h1{
        font-size: 25px;
    }

    /* --------home page */


    /* ------------about--------- */
    .abt-com-heading{
        padding: 0 30px;
    }
    .abt-com-heading h3{
        font-size: 16px;
    }
    .abt-com-heading h1{
        font-size: 22px;
    }

    .team-heading{
        padding: 0 40px;
        margin-bottom: 30px;
    }
    .team-heading h1{
        font-size: 30px;
    }
    .team-heading h2{
        font-size: 22px;
    }
    .team-heading h3{
        font-size: 16px;
    }

    /* --------about page end--------- */
    
    
    /* -------services page--- */
    .sec-five-triangle{
        transform: rotate(180deg);
        position: absolute;
        width: 50px;
    }
    
    .sec-five-triangle-right{
        float: right;
        width: 50px;
    }

    .services-heading{
    padding: 0 50px;
    }

    .services-heading h1{
        font-size: 50px;
    }

    .sec-heading{
        font-size: 25px;
        margin-top: 20px;
    }
    .services-list{
        width: fit-content;
       
    }
    #claim h1{
        font-size: 25px;
    }
    .claim-text h4{
        font-size: 20px
    }
    
    /* -------------services page end------- */

    
    
    .apmt-content h2{
    font-size:35px;
    }
 
    .apmt-content p{
     font-size: 15px;
    }
    
    .apmt-link{
        font-size: 12px;
    }

    /* ------bookkeeping------- */
    
    .book-banner{
        display: flex;
        flex-direction: column;
    }
    .book-left{
        width: 90%;
    }
    .book-right img{
        width: 220px;
    }
    .book-left h2{
        font-size: 20px;
    }
    .book-heading{
        padding:0 50px;
    }
    .book-heading h2{
        font-size: 20px;
    }
    .b-dtl-head h2{
        font-size: 20px;
    }
    .det-main{
        display: flex;
        flex-direction: column;
        margin: 0 8vw;
    }
    .det-main .det-left img{
        width: 250px;
    }
    .det-main .det-right{
        width: auto;
    }
    .b-insights-main{
        display: flex;
        flex-direction: column;
    }
    .b-insights-r{
        width: auto;
    }
    .b-insights-main .b-insights-l img{
        width: 300px;
    }
    .book-list{
        width: auto;
    }

    /* ---------bookkeeping page end------- */

  
     /* ------catchup-b------ */
     .catchup-banner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .catchup-left img{
        width: 250px;
    }
    .catchup-right{
        width: 80%;
    }
    .catchup-right h2{
        font-size: 20px;
    }

    .catchup-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .catchup-box{
        width: 90%;
    }
    .catchup-banner2 h2,.catchup-main2-head h2{
        font-size: 20px;
    }



    /* ------catchup-b  end------ */

    
    .footer-upper div{
        margin-left: 30px;
    }


    .footer-upper{
        display: flex;
        flex-direction: column;
    }

    .footer-upper div{
        padding: 15px 0;
    }

    .footer-bar p
    {
        font-size: 12px;
    }

    /* ---------------------footer area end---- */



    /* ----- page testimonials-- */

    .testi-heading{
        padding: 0 50px;
    }
    .testi-heading h3{
        font-size: 18px;
    }
    
    .testi-heading h3::before,
    .testi-heading h3::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid var(--blue);
    width: 3rem;
    margin: 0 0.3rem;
    transform: translateY(-0.4rem);
    }
    
    .testi-main{
        display: flex;
        flex-direction: column;
       /* justify-content: space-around; */

       padding: 0 4vw;
       /* flex-wrap: wrap; */
   }
   .testi-box{
       /* width: 250px; */
       width: fit-content;
       padding-top: 5vw;
   }
   .testi-upper div{
       display: flex;
       flex-direction: column;
   }

   /* --------------- page testimonials end */

  /* ----------------contact page------ */
        .conct-img img{
            width: 200px;
            }
            .contact{
                display: flex;
                flex-direction: column;
            }
            .conct-right{
                padding-bottom:5vw ;
            }

            .conct-heading h3{
                font-size: 1.5rem;
                font-weight: 400;
            }
            .conct-heading h1{
                font-size: 3rem;
                text-transform: uppercase;
                line-height: 1;
                color: var(--blue);

            }

        /* ----------------contact page end------ */


   


        /* ----------------------------side nav on small screen */
        .header-nav>ul{
            background: var(--blue);
            top: 0;
            right: -200px;
            height: 90vh;
            width: 200px;
            position: fixed;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            transition: right 0.5s;
            justify-content: start;
            z-index: 6;
            
        }

        nav .fa{
            display: block;
            font-size: 25px;
            padding: 10px 10px;
            /* float: right; */
            position: absolute;
            top: 35px;
            right: 35px;
            color: var(--blue);
        }

        nav ul .fa{
            position:absolute;
            top: 15px;
            left: 15px;
            cursor: pointer;
            color: var(--white);
        }
        
        nav ul li{
            padding: 0 15px;
        }
        .header-nav ul li a{
            color: var(--white);
        }


        
nav ul .abt-drop{
display: contents;
/* position: absolute; */
background-color: inherit;
/* min-width: fit-content; */
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
box-shadow: none;
padding: 0 0;
/* top: 2.2rem; */
transition: all 0.9s;
/* list-style: none; */
/* padding: 10px 20px; */
/* z-index: 10; */

}


   

}
